<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <% if(kindOfDay==="Saturday" || kindOfDay==="Sunday"){ %>
    <h1>It's a <%= kindOfDay %></h1>
    <%} else %>
    <%{ %>
    <h1>It's a <%= kindOfDay %></h1>
    <%} %>
</body>

</html>